
/* 
MEDIA QUERIES 
*/

@media (min-width: 1201px){
    .intro_line1,
    .intro_line2,
    .intro_line3 {
        left: 100px;
    }

    
    .hero_img {
        height: 350px;

    }

    .hero_img_border {
        /* top: ; */
        right: 160px;
        height: 350px;
    }
    
    .intro_line3 span:nth-child(1) {
        display: inline;
    }
    
    .intro_line3 span:nth-child(2) {
        display: block;
        width: 350px;
    }

    .hero-name {
        font-size: 35px;
    }

    .menu-item {
        font-size: 18px;
    }

    #about_me-img {
        height: 350px;
    }
    #about_me-border {
        height: 350px;
        right: 80%;
        margin-left: 25px;
    }

    #about_me-content1 {
        width: 400px;
        left: 30%;
    }

    #about_me-heading {
        left: 30%
    }

    #about_me-content2 {
        width: 50%;
        left: 45%;
        font-size: 20px;
        top: 165%;
    }

}

@media (max-width: 1200px) and (min-width: 840px) {
    .intro_line1,
    .intro_line2,
    .intro_line3,
    .intro_line2 span,
    .intro_line3 span
     {
        left: 100px;
        font-size: 35px;
    }

    
    .hero_img {
        height: 300px;

    }

    .hero_img_border {
        right: 160px;
        height: 300px;
    }
    
    .intro_line3 span:nth-child(1) {
        display: block;
    }
    
    .intro_line3 span:nth-child(2) {
        display: inline;
        width: 350px;
    }
}

@media (max-width: 600px) {
    .hero_intro h1 {
        top: 100px;
        font-size: 35px;
    }

    .intro_line2 span,
    .intro_line3 span {
        font-size: 35px;
    }
    
    .intro_line3 span:nth-child(1) {
        display: block;
        width: 250px;
    }

   label #btn {
       display: inline;
       position: absolute;
       top: 0;
       right: 25px;
   }

   .menu-item {
    display: block;
    margin: 50px 0;
   }

   .menu-items{
    display: inline;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    text-align: center;
    background-color: #05386b;
    transform: translateX(100%);
    z-index: 1;
    transition: .4s ease;
   }

   .menu-item a{
        color: #46d586;
        font-size: 20px;
   }
}

.active-nav {
    transform: translateX(0);
}

@media (max-width: 520px) {
    .intro_line1,
    .intro_line2,
    .intro_line3,
    .intro_line2 span,
    .intro_line3 span
     {
        font-size: 30px;
        line-height: 50px;
    }

    .hero_intro {
        top: 130px;
    }
    
    .hero_img {
        height: 200px;

    }

    .hero_img_border {
        /* top: ; */
        right: 40px;
        height: 200px;
    }

    #about_me-heading {
        font-size: 26px;
    }

    #about_me-content1 {
        font-size: 16px;
    }

    #about_me-content2 {
        font-size: 16px;
        top: 160%;
    }

    #about_me-img {
        height: 200px;
    }

    #about_me-border {
        height: 200px;
    }



}























